* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background: linear-gradient(-45deg, #a6f4e5 0%, #23e6bf 47%); */
  /* background-color: rgb(44, 75, 255); */
  background-color: #fff;
  color: #1A2634;
  text-align: center;
}

body,
input,
button {
  font-size: 1em;
}

p {
  margin: 2em 0;
}

ol {
  text-align: left;
}

li {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}

header {
  background-color: #fff;
}

.logo {
  width: 100%;
  max-width: 310px;
  max-height: 200px;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}
.view button:last-child {
  margin-bottom: 0;
}

.buzzer-mode {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

input[type="text"],
input[type="number"],
button {
  display: block;
  padding: 0.8em 1.4em;
  margin: 1em 0;
  width: 100%;
  border-radius: 5px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #B8B8B8;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:active,
input[type="number"]:active {
  border-color: #2c4bff;
  box-shadow: 0 0 0 3px #ABB7FF;
  outline: none;
}

button {
  padding: 1.4em 1.4em;
  font-size: 1.2em;
  background-color: #161D99;
  color: #fff;
  cursor: pointer;
  border: 0;
}

table, tr, th, td {
  color: #fff;
  cursor: pointer;
  border: 0;
  table-layout: fixed;
  border-radius: 5px;
}

.mayo {
  background-color: #daae0f;
  height:50px
}

.ketchup {
  background-color: #ca2f1e;
  height:50px
}

button:hover {
  background-color: rgb(22, 29, 153);
}

button:active {
  box-shadow: rgb(171, 183, 255) 0px 0px 0px 3px;
  outline: 0px;
  transform: translateY(  1px);
}
button:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}

.main-image {
  width: 90%;
}

.buzzer {
  height: 10em;
  font-size: 2em;
  background-color: #ca2f1e;
  color: #fff;
}
.buzzer:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}
.buzzer:hover,
.buzzer:active {
  background-color: #e46276;
}

.buzzer:disabled {
  cursor: not-allowed
}

.secondary {
  background-color:  #3c3dac;
  color: #88dbf5
}

.secondary:hover {
  background-color: #4a4cac;
}

li {
  list-style-type: none;
}

.js-joined-info {
  color: #daae0f;
}

.buzzli {
  font-size: x-large;
  text-align: center
}

/* --------------------- */

.input-hidden {
  position: absolute;
  left: -9999px;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  margin: 10px;
  width: 20%;
  height: 20%;
  transition: 100ms all;
  filter: grayscale(100%);
}

input[type=radio]:checked + label>img {
  filter: grayscale(0%);
}